/* Nav Overrides
-------------------------------*/
#sub-nav {
	background-color: #323539;
}

#sub-nav a.selected {
	background-color: #202225;
}

#user-gallery nav a.selected {
	background-color: #323539;
	border-radius: 6px;
}

#user-stats {
	background-color: #202225;
	display: flex;
	padding: 10px;
}

#user-info {
	background-color: #202225;
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	padding: 0 10px;
}

#user-info h2 {
	flex: 1 100%;
	margin: 5px 0 5px 10px;
}

#user-info dl {
	flex: 0 1 300px;
}

#user-actions {
	text-align: right;
}

#user-actions .streaming {
	background-color: #191a1c;
	display: inline-block;
	line-height: 1.5em;
	padding: 10px;
	margin-bottom: 10px;
}

#user-actions .streaming::after {
	content: '\A';
	white-space: pre;
}

#user-actions .streaming::before {
	color: #0f0;
	content: 'â—';
	font-size: 1.2em;
	margin-right: 5px;
}

#user-actions .streaming a {
	color: #a4a4a4;
	margin-left: 20px;
}

#user-actions .button {
	margin-left: 10px;
}

#user-gallery {
	background-color: #3F4347;
	display: flex;
	flex-flow: row wrap;
	padding: 12px;
}

#user-gallery nav {
	flex: 1 100%;
	margin-bottom: 14px;
}

#user-gallery nav ul:first-of-type {
	margin-right: 355px;
}

#preview {
	padding: 0 25px;
	text-align: center;
	flex: 0 0 500px;
}

#preview figure {
	margin: 0;
}

#preview-image {
	height: 350px;
	width: 500px;
}

#preview .caption {
	font-size: 1.1em;
	font-weight: bold;
}

#preview .post-date {
	display: block;
	font-size: 0.8em;
}

#user-gallery .image-grid {
	flex: 1;
}

#user-gallery .image-grid ul {
	height: 350px;
	margin-bottom: 10px;
	overflow: hidden;
}

#user-gallery .image-grid li {
	float: left;
	margin: 0 10px 10px 0;
}

#user-gallery .image-grid .info {
	clear: left;
	padding: 0 1.2em;
	text-align: right;
}

#user-gallery .image-grid .info .button {
	margin-left: 10px;
}

#user-profile {
	display: flex;
	padding: 12px;
}

#user-profile .profile-id {
	display: block;
	margin: 0 auto;
}

#profile-info .preview {
	height: 460px;
	width: 460px;
}

#profile-info {
	flex: 1;
	margin: 0 24px;
}

#profile-info .social-links {
	line-height: 32px;
}

#profile-info .social-links dt {
	width: 250px;
}

#shouts {
	flex: 1;
	margin: 0 24px;
}

#shouts .leave-a-shout {
	display: flex;
}

#shouts .leave-a-shout > a {
	margin-right: 10px;
}

#shouts .leave-a-shout > div {
	flex: 1;
	position: relative;
	margin-left: 10px;
}

#shouts .leave-a-shout > div::after {
	top: 16px;
	left: -10px;
	bottom: auto;
	border-width: 5px 10px 5px 0;
	border-color: transparent #4f545a;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

#shouts .leave-a-shout textarea {
	height: 100px;
	width: 100%;
	border-radius: 6px;
}

#shouts .leave-a-shout button {
	clear: both;
	float: right;
	margin: 10px 0;
}

#shouts .shout {
	margin-bottom: 10px;
	display: flex;
}

#shouts .shout > .avatar {
	margin-right: 10px;
}

#shouts .shout > div {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

#shouts .shout h5 {
	padding: 0;
	margin: 0 0 5px 10px;
	font-size: 1em;
	font-weight: normal;
}

#shouts .shout .post-date {
	flex: 1;
	margin-left: 10px;
	font-size: .8em;
	text-align: right;
}

#shouts .shout-body {
	flex: 1 100%;
	width: 100%;
	margin-left: 10px;
	padding: 10px;
	background-color: #4f545a;
	border-radius: 6px;
	position: relative;
}

#shouts .shout-body p {
	margin: 0 0 5px;
}

#shouts .shout-body::after {
	border-color: transparent #4f545a;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	bottom: auto;
	content: "";
	display: block;
	left: -10px;
	position: absolute;
	top: 16px;
	width: 0;
}

#profile-info .journal {
	background-color: #4f545a;
	border-radius: 6px;
	padding: 10px;
	position: relative;
}

#profile-info .journal h4 {
	margin: 9px 0;
}

#profile-info .journal .read-more {
	position: absolute;
	top: 10px;
	right: 10px;
}
